body {
    margin: 0px;
    background-color: #636271;
    font-family: 'Nunito';
}
.add_list {
    cursor: pointer;
}
.done_list {
    cursor: pointer;
    text-decoration: line-through;
}
.ant-message {
    position: absolute;
    top: 0;
    left: 45%;
}
.ant-message-notice {
    margin: 10px 0px;
    color: #000;
    font-weight: 700;
}
.ant-message-notice i {
    margin-right: 15px;
    color: #EF4638
}
.ant-empty-normal {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.ant-list-item {
    list-style-type: none;
    margin-top: 15px;
    padding: 10px;
    border-bottom: 2px solid gray;
}